<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- 延迟加载的开关 -->
		<setting name="lazyLoadingEnabled" value="true"></setting>
		<!-- 开启按需加载的开关 -->
		<setting name="aggressiveLazyLoading" value="false"></setting>
		<!-- 开启二级缓存 -->
		<setting name="cacheEnabled" value="true" />
	</settings>
</configuration>